{% extends "base_generic.html" %}

{% block links %}
  {% load static %}
  <link href="{% static './css/passwort-reset-form.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    <section class="title">
	    <h2 class="welcome">Recipe-Constructor WebApp</h2>
		<p>Enter an email to receive an instructions</p>
		<h2>Fill in the form below.</h2>
    </section>
{% endblock %}

{% block main %}
  <form class="form" action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <table>
          <tr>
              <td>{{ form.email.label_tag }}</td>
              <td class="input">{{ form.email}}</td>
          </tr>
      </table>
      <input type="submit" class="button" value="Reset password">
  </form>
{% endblock %}