{% extends "base_generic.html" %}

{% block links %}
  {% load static %}
  <link href="{% static './css/passwort-reset-complete.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
  <section class="title">
    <h2 class="welcome">Recipe-Constructor WebApp</h2>
	<p>Thank You!</p>
	<h2>Please click the link to come back to log in!</h2>
  </section>
{% endblock %}

{% block main %}
  <section class="message">
    <p>The password has been changed!</p>
    <p><a class="back-to-login" href="{% url 'login' %}">Back to log in</a></p>
  </section>
{% endblock %}